.header{
    background-color: #3E463F; 
    border-radius: 10px;
    margin:0 0 5px;
}

#BannerCrunchyroll{
    text-align: justify;
    width: 150px;
    margin: 0 0 5px;
}

#headerconteiner{
    background-color: #3E463F;
    border-radius: 10px;
    margin: 0 0 5px;
}

#headermenubar a:hover{
    color: #AAB4AA;
}

#headermenubar{
    vertical-align:top;
    display: inline-block;
    text-align: justify;
    font-size:larger;
    font-weight: bolder;
    font-family: 'Fuzzy Bubbles', cursive;
    padding: 50px 5px 0 ;
    transition: 1s;
    cursor:pointer;
}

#headerconteiner a{
    color: #F7A423;
    margin: 0 5px;
    text-decoration: none;
}

#Busca{
    vertical-align: top;
    display:inline-block; 
    padding: 50px 0 0 0;
    position: absolute;
    right: 20px;
}

.Pesquisa{
    border-radius: 5px;
}

#BannerSerie{
    width: 100%;
    border-radius: 10px;
}




 /* Menu de Genêros */


#conteinerGenero{
    background-color: #3E463F;
    border-radius: 10px 10px 0 0;
    padding: 10px 0 0 0;
}

#conteinerGenero a:hover{
    color: white;
    font-size: large;
    transition: 1s;
}

#Genero{
    padding: 0 0 0 15px;
    font-size: medium;
    color: white;
    font-weight: bolder;
    font-family: 'Fuzzy Bubbles', cursive;
}

#sub_Generos{
    padding: 0 0 10px 15px;
    font-weight: bold;
    font-family: 'Fuzzy Bubbles', cursive;
}

.subGeneros a{
    color: #F7A423;
    padding: 0 5px 0 0; 
}




 /* Lista de Mangás */


#ListadosAnimes{
    position: relative;
    background-image: url("../arquivosISO/wallGodH.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    border-radius: 0 0 10px 10px;
    font-family: 'Fuzzy Bubbles', cursive;
    
}


#ListadosAnimes li:hover{
    color: #0B6399;
    border-color: #0B6399;
    width: 260px;
    height: 260px;
    transition: 1s;
    box-shadow: 5px 5px 80px #3E463F;
}

.ListaAmimes{
    width: 940px;
    padding: 25px 0 5px 20px ;
    margin: 0 auto 0 5px;
}
.ListaAmimes li{
    width: 250px;
    padding: 20px 0 0 3px;
    margin: 0 10px 10px 0;
    display: inline-block;
    text-align: center;
    font-size: 8px;
    color: #3E463F;
    border: 3px solid #3E463F;
    border-radius: 10px;
    background-image: url(../arquivosISO/FundoAnime.jpg);
}
.ListaAmimes img{
    width: 200px;
    height: 200px;
}

.ListaAnimes h1{
    font-size: 12px;
}


/* Footer */

#CopyrightFooter{
    color: white;
    font-size: 12px;
    background-image: url("../arquivosISO/textura-preta_1205-327.jpg");
    margin: 10px 0 10px;
    padding: 20px 20px 20px;
    border-radius: 10px;
}