.header{
    background-color: #3E463F;
    border-radius: 10px;
    margin-bottom: 0px;
}
#headermenubar{
    text-align: justify;
    font-size:larger;
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri','Trebuchet MS', sans-serif;
    display: inline-block;
    vertical-align:top;
    padding-top: 50px;
    padding-bottom: 0px;
}

#Home{
    color: #F7A423;
    margin-right: 5px;
    text-decoration:none;
}
#Series{
    color:#F7A423;
    margin-right: 5px;
    text-decoration: none;
}
#Mangás{
    color: #F7A423;
    margin-right: 5px;
    text-decoration: none;
}

#Logo{
    width: 100%;
    text-align: center;
}

#BannerCrunchyroll{
    text-align: justify;
    width: 150px;
}

#banner{
    width: 100%;
}

#BannerPrincipal{
    width: 100%;
    padding-top: 0px;
    border-radius: 10px;
}


#Pesquisa{
    vertical-align: top;
    display:inline-block;
    position: absolute;
    right: 20px; 
    top: 55px;
}

#headerSearch_input{
    margin-right: 0px;
    border-radius: 5px;
}

#headerSearch_submit{
    border-radius: 5px;
}